
.header-content .header-logo{
    margin: auto;
}

.header-content{
    display: flex;
    background-color: rgb(230, 230, 202);
    padding: 10px 10px;
    align-items: center;
    flex-direction: column;
}

.nav li{
   margin: 0 10px;
}

.nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin:0;
}

.nav a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: beige;
}

.title{
    margin: auto;
    text-align: center;
}

.container{
    border: solid;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px;
    border-width: 2px;
    margin-top: 30px;

}

h2{
    font-family: "Ubuntu", sans-serif;
}

.box{
    height: 100px;
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

.beige{
    background-color: #f5f5db;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.blue{
    background-color: #3b10e5;
    font-size: 20px;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;

}

.yellow{
    display: flex;
    flex-direction: column;
    background-color: hsl(50, 100%, 50%);
    font-size: 20px;
    justify-content: center;


}

.colorbox-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.hanken{
    font-family:'hanken grotesk', sans-serif;
}

.strong{
    font-weight: bold;
}

.italics{
    font-style: italic;
}

.ubuntu{
    font-family: "ubuntu", sans-serif;
}

.allfonts{
    display: flex;
    justify-content: center;
    gap: 80px;
}

h1{
    font-family:'hanken grotesk', sans-serif;
}

.roboto{
    font-family: "roboto", sans-serif;
}

p{
    font-family:'robot', sans-serif;
}

.center{
    text-align: center;
}

